# 根据信息建立推荐电影的系统

项目的联系：这次数据集与当时整理出来的data十分相似，所以一下代码可以作为sample 的代码，来进行修改。

首先，导入Movie的数据集,因为iResearch的数据集中包括电影的种类，ID，语言，原产国家，电影的长度，电影名称，上映的时间，以及电影的介绍（或者评论），还有平均的rating, 根据iresearch的数据库，对metadata 进行了清理。

## 关于Rating的处理，也就是目标变量。有两种解决方案：

1. 在这个dataset里，用加权平均（weighted average rating)
2. 如果是N个平台，则根据其评分的区间映射到同一个区间。比如1-5分区间*2，映射到1-10的区间里面。然后在Scaling=X-mean/std

In [105]:
import pandas as pd
# Load Movies Metadata
metadata = pd.read_csv('movies_metadata.csv', low_memory=False)
metadata.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

In [106]:
metadata.columns

Index([u'adult', u'belongs_to_collection', u'budget', u'genres', u'homepage',
       u'id', u'imdb_id', u'original_language', u'original_title', u'overview',
       u'popularity', u'poster_path', u'production_companies',
       u'production_countries', u'release_date', u'revenue', u'runtime',
       u'spoken_languages', u'status', u'tagline', u'title', u'video',
       u'vote_average', u'vote_count'],
      dtype='object')

In [107]:
col=['adult','budget','belongs_to_collection','imdb_id','poster_path','revenue','homepage','video','popularity']
metadata=metadata.drop(col,axis=1)

In [108]:
metadata.head()

,genres,id,original_language,original_title,overview,production_companies,production_countries,release_date,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,Jumanji,When siblings Judy and Peter discover an encha...,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0
4,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0

## 接下来要进行如下步骤：

1.Decide on the metric or score to rate movies on.

2.Calculate the score for every movie.

3.Sort the movies based on the score and output the top results.

## 加权平均处理目标变量： Weighted Rating (WR) = (v/v+m).(R)+(m/v+m).(C)

v is the number of votes for the movie

m is the minimum votes required to be listed in the chart

R is the average rating of the movie

C is the mean vote across the whole report

In [109]:
C=metadata.vote_count.mean()
C

109.89733831940167

# 计算 the number of votes, m, received by a movie in the 90th percentile.
###也可以看95%

In [110]:
m = metadata['vote_count'].quantile(0.90)
m

160.0

对符合以上条件的电影进行筛选

In [111]:
q_movies = metadata.copy().loc[metadata['vote_count'] >= m]
q_movies.shape

(4555, 15)

定义weighted rating 的函数

In [112]:
def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    return (v/(v+m) * R) + (m/(m+v) * C)

In [113]:
# 重新定义变量score 作为最终的电影评分
q_movies['score'] = q_movies.apply(weighted_rating, axis=1)

In [114]:
#根据Score对电影进行筛选
q_movies = q_movies.sort_values('score', ascending=False)

#根据Score打印出前15个电影，进行check
q_movies[['title', 'vote_count', 'vote_average', 'score']].head(15)

                              title  vote_count  vote_average      score
40485                       Divines       161.0           8.1  58.840106
2728           Black Cat, White Cat       160.0           7.7  58.798669
23679                   Life Itself       160.0           7.7  58.798669
31908                   Cartel Land       160.0           7.4  58.648669
4874                      The Party       160.0           7.3  58.598669
6628          Judgment at Nuremberg       161.0           7.6  58.589328
43165          The Zookeeper's Wife       160.0           7.1  58.498669
35507      Boruto: Naruto the Movie       162.0           7.7  58.481286
990    20,000 Leagues Under the Sea       160.0           6.9  58.398669
20979                      The Past       161.0           7.1  58.338549
8875                The Quiet Earth       160.0           6.7  58.298669
2617                  Jules and Jim       163.0           7.6  58.273604
43296       Resident Evil: Vendetta       160.0           6.6  58.248669
2069                         Frenzy       162.0           7.2  58.229733
922                    East of Eden       163.0           7.5  58.223140

处理文字变量

In [115]:
q_movies['overview'].head()

40485    In a ghetto where religion and drug traffickin...
2728     Matko is a small time hustler, living by the D...
23679    Life Itself recounts the surprising and entert...
31908    In the Mexican state of Michoacán, Dr. Jose Mi...
4874     Hrundi V. Bakshi, an accident-prone actor from...
Name: overview, dtype: object

In [116]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(stop_words='english')
metadata['overview'] = metadata['overview'].fillna('')
tfidf_matrix = tfidf.fit_transform(metadata['overview'])
tfidf_matrix.shape

(45466, 75823)

In [117]:
from sklearn.metrics.pairwise import linear_kernel
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [118]:
#把电影的Title当成indices进行索引。Reverse一下Map
indices = pd.Series(metadata.index, index=metadata['title']).drop_duplicates()

## 内容筛选的推荐系统:
首先

1.我们根据电影的名称找出index

2.根据Cosaine Similarity根据一部电影在所有电影中找出类似电影的。
将他们转换成一个列表的元组，其中第一个元素是电影的名称，第二个是其相关性的系数.

3.根据上面的List，看第二个元素（即相关性系数进行筛选）

4.显示前10个
忽略第一个，指的是电影本身。
显示其他几个电影的名称。

In [119]:
# 定义一个函数，把电影的名称当作Input，类似的电影作为Output
def get_recommendations(title, cosine_sim=cosine_sim):
    # 把电影的Title作为Index
    idx = indices[title]

    # 找到cosine similarity
    sim_scores = list(enumerate(cosine_sim[idx]))

    # 对电影进行排序，根据相关系数
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # 找到前10个电影
    sim_scores = sim_scores[1:11]

    # 找到 movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return metadata['title'].iloc[movie_indices]

In [120]:
get_recommendations('The Dark Knight Rises')

12481                                      The Dark Knight
150                                         Batman Forever
1328                                        Batman Returns
15511                           Batman: Under the Red Hood
585                                                 Batman
21194    Batman Unmasked: The Psychology of the Dark Kn...
9230                    Batman Beyond: Return of the Joker
18035                                     Batman: Year One
19792              Batman: The Dark Knight Returns, Part 1
3095                          Batman: Mask of the Phantasm
Name: title, dtype: object

In [121]:
# Load keywords and credits
credits = pd.read_csv('credits.csv')
keywords = pd.read_csv('keywords.csv')

# Remove rows with bad IDs.
metadata = metadata.drop([19730, 29503, 35587])

# Convert IDs to int. Required for merging
keywords['id'] = keywords['id'].astype('int')
credits['id'] = credits['id'].astype('int')
metadata['id'] = metadata['id'].astype('int')

# Merge keywords and credits into your main metadata dataframe
metadata = metadata.merge(credits, on='id')
metadata = metadata.merge(keywords, on='id')

In [122]:
metadata.head()

,genres,id,original_language,original_title,overview,production_companies,production_countries,release_date,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,keywords
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,Jumanji,When siblings Judy and Peter discover an encha...,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."

In [123]:
# 把上面的jason的形式，转化成a list of dic 然后对Dic里面的name 进行筛选
from ast import literal_eval

features = ['cast', 'crew', 'keywords', 'genres']
#'spoken_languages','roduction_companies','production_countries'
for feature in features:
    metadata[feature] = metadata[feature].apply(literal_eval)

In [124]:
import numpy as np

In [125]:
# 找到导演的名称，没有的显示Nan
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [126]:
# 显示前3个元素，没有的话，就尽可能多的Print
def get_list(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        if len(names) > 3:
            names = names[:3]
        return names

    #返回一个空的list如果有Missing data 和malformed data
    return []

In [127]:
# 重新定义new director, cast, genres and keywords features that are in a suitable form.
metadata['director'] = metadata['crew'].apply(get_director)

features = ['cast', 'keywords', 'genres']
for feature in features:
    metadata[feature] = metadata[feature].apply(get_list)

In [128]:
metadata[['title', 'cast', 'director', 'keywords', 'genres']].head(3)

,title,cast,director,keywords,genres
0,Toy Story,"[Tom Hanks, Tim Allen, Don Rickles]",John Lasseter,"[jealousy, toy, boy]","[Animation, Comedy, Family]"
1,Jumanji,"[Robin Williams, Jonathan Hyde, Kirsten Dunst]",Joe Johnston,"[board game, disappearance, based on children'...","[Adventure, Fantasy, Family]"
2,Grumpier Old Men,"[Walter Matthau, Jack Lemmon, Ann-Margret]",Howard Deutch,"[fishing, best friend, duringcreditsstinger]","[Romance, Comedy]"

In [129]:
# convert all strings to lower case and strip names of spaces
def clean_data(x):
    if isinstance(x, list):
        return [str.lower(i.replace(" ", "")) for i in x]
    else:
        #如果不存在，返回empty list
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

In [130]:
# Apply clean_data function to all features.
features = ['cast', 'keywords', 'director', 'genres']

for feature in features:
    metadata[feature] = metadata[feature].apply(clean_data)

In [131]:
def create_soup(x):
    return ' '.join(x['keywords']) + ' ' + ' '.join(x['cast']) + ' ' + x['director'] + ' ' + ' '.join(x['genres'])

In [132]:
# Create a new soup feature
metadata['soup'] = metadata.apply(create_soup, axis=1)

In [133]:
# Import CountVectorizer and create the count matrix
from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer(stop_words='english', decode_error='ignore')
count_matrix = count.fit_transform(metadata['soup'])

In [134]:
# Compute the Cosine Similarity matrix based on the count_matrix
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim2 = cosine_similarity(count_matrix, count_matrix)

In [135]:
# Reset index of your main DataFrame and construct reverse mapping as before
metadata = metadata.reset_index()
indices = pd.Series(metadata.index, index=metadata['title'])

In [136]:
get_recommendations('The Dark Knight Rises', cosine_sim2)

12589      The Dark Knight
10210        Batman Begins
9311                Shiner
9874       Amongst Friends
7772              Mitchell
516      Romeo Is Bleeding
11463         The Prestige
24090            Quicksand
25038             Deadfall
41063                 Sara
Name: title, dtype: object

In [140]:
test = metadata['production_companies']

In [141]:
test[1]

"[{'name': 'TriStar Pictures', 'id': 559}, {'name': 'Teitler Film', 'id': 2550}, {'name': 'Interscope Communications', 'id': 10201}]"

In [144]:
import ast 
dic = ast.literal_eval(test[1]) 
#print(dic[2]['name'])
    
print(dic)

[{'name': 'TriStar Pictures', 'id': 559}, {'name': 'Teitler Film', 'id': 2550}, {'name': 'Interscope Communications', 'id': 10201}]